.tip-button {
  padding: var(--spacing-sm);
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--text-color);
  color: white;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.tip-button:hover {
  background-color: var(--primary-dark);
}

.tip-button.selected {
  background-color: var(--primary-color);
}